<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.activation.title}">Plataforma Universitaria UNLa activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.activation.greeting(${user.login})}">
            Estimado
        </p>
        <p th:text="#{email.activation.text1}">
               Se ha activado su cuenta de acceso a la Plataforma Universitaria UNLa, haga clic en la URL a continuación para la activación:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/account/activate?key=${user.activationKey}|})" th:href="${url}"
            th:text="${url}">link de activación</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Saludos, </span>
            <br/>
            <em th:text="#{email.signature}">La administración.</em>
        </p>
    </body>
</html>
